[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
gym = "*"

[dev-packages]
pytest = "*"
yapf = "*"
pylint = "*"

[requires]
python_version = "3.8"

[scripts]
format = "./scripts/python_format.sh"
lint = "pylint --rcfile=setup.cfg gym_minesweeper"
test = "pytest --junitxml=test_results/gym_minesweeper/report.xml gym_minesweeper/tests"
